name: Elixir CI

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - master
      - develop

jobs:
  check-lint-and-test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: [21.3.8.10, 22.2]
        elixir: [1.8.2, 1.9.4]

    steps:
    - uses: actions/checkout@v2
    - name: Create dev file
      run: mv config/dev.sample.exs config/dev.exs
    - name: Setup elixir
      uses: actions/setup-elixir@v1
      with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
    - name: Install Dependencies
      run: mix deps.get
    - name: Run Tests
      run: mix test
    - name: Check formatting
      run: mix format --check-formatted
    - name: Checking compile warnings
      run: mix compile --warnings-as-errors --force
